body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
  font-family: sans-serif;
}

#player-prompt {
  font-size: 20px;
  margin: 10px auto;
}

#player-choices-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}
#player-choices-container button {
  display: block;
  box-sizing: border-box;
  height: 30px;
  width: 80px;
  margin: 0 10px;
}

#scoreboard {
  margin: 10px auto;
}

#announcement {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px 0;
}
